<h1><%=@email%></h2>
<br>
<h3>Total Predictions: <%=@totalcorrect%>/<%=@total%> <%if @totalpercentage >= 0%>(<%= @totalpercentage %>%) <%end%></h4>

<h4>Fighter Predictions: <%=@fg_correct%>/<%=@total_fg%></h4>
<h4>Method Predictions: <%=@mg_correct%>/<%=@total_mg%></h4>