
  <% @events.each do |event| %>
  <div>
  <h3><%= event.event_name %></h3>
  <ul>
    <li>
      <%= event.f1 %>
    </li>
        <li>
      <%= event.f2 %>
    </li>
        <li>
      <%= event.f3 %>
    </li>
        <li>
      <%= event.f4 %>
    </li>
    <ul>
    </div>
  <% end %>